# Required Sphinx-related packages.

autodocsumm
sphinx_autodoc_typehints
sphinx.ext.autodoc
sphinx.ext.autosectionlabel
sphinx.ext.autosummary
sphinx.ext.intersphinx
sphinx.ext.linkcode
sphinx.ext.mathjax
sphinx.ext.napoleon
sphinx.ext.graphviz
myst_nb
